[submodule "service_contracts/lib/forge-std"]
	path = service_contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "service_contracts/lib/openzeppelin-contracts"]
	path = service_contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "service_contracts/lib/openzeppelin-contracts-upgradeable"]
	path = service_contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "service_contracts/lib/fws-payments"]
	path = service_contracts/lib/fws-payments
	url = https://github.com/FilOzone/fws-payments
[submodule "service_contracts/lib/pdp"]
	path = service_contracts/lib/pdp
	url = https://github.com/FilOzone/pdp
